/*@import(https://fonts.google.com/)*/

#design, #development, #product{
  display: none;
}

header{
  background-image: url(../images/background2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
}
header h1{
    padding: 2px;
    margin: 5px;
  }
header p{
    padding: 2px;
  }
  #logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;;
  }
  #mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }

   .aboutUs{
        text-align: center; 
        padding-bottom: 30px;
        padding-top:40px;
        font-family: 'Copse', serif;
      }
      #about{
        font-family: 'Gabriela', serif;
      }

.services{
    background-image: url("../images/background3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Copse', serif ;  
}
 
.services h2{
    font-family:'Gabriela', serif ;
      }    
      #services{
        background-color: rgba(0,0,0,0.4);
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .what-we-do{
        font-family: 'Copse', serif;
        text-align: center;
        padding-top: 40px;
             }
      .what-we-do .headings{
        padding-bottom: 38px;
        font-family: 'Gabriela', serif;
      }
      #portfolio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left:18%;
        margin-right: 16%; 
      }
      .col-md-3 {
        max-width: 100%;
        max-height: 100%;
      }
      
           .portfolio h2{
        text-align: center;
        padding-top:40px;
        font-family: 'Gabriela', serif;
      }
      .contact-us {
        background: url(../images/background1.jpg) no-repeat;
        background-size: 100% 100%;
        color: white;
      }
      
      .contact-us-content {
        width: 70vw;
        margin: 0 auto;
        padding-bottom: 50px;
      }
      
      .form-control {
        background-color: transparent;
        border-radius: 0;
      }
      
      .form-control:valid {
        background-color: transparent;
        color: white;
      }
      
      .form-control::placeholder {
        color: white;
      }
      
      textarea {
        height: 300px;
      }
      
      }
      .title{
        padding: 6px;
      }
      .contact h2{
        text-align: center;
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 20px;
        font-family: 'Gabriela', serif;
      }
      input[type=text],input[type=email],#comment{
        background: transparent;
        color: white;
        font-size: 20px;
        font-family: 'Copse', serif;
      }
     
      #comment{
        margin-left: 4%;
        width: 84%;
      }
    
      #name{
        margin-right: 30px;
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
      }
      #email{
        margin-right: 30px;
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
      }
      button{
        margin-right: 84%;
        padding-bottom: 30px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        margin-bottom: 20px;
      }
      footer{
        text-align: center;
        padding-top: 30px;
        font-family: 'Copse', serif;
      }
      footer p{
        margin-top: 10px;
      }

      .A {
        background-image: url("../images/work4.jpg");
        background-size: cover;
        width: 100%;
        height: 300px;
      }
      .B {
        background-image: url("../images/work3.jpg");
        background-size: cover;
        width: 100%;
        height: 300px;
        
      }
      .C {
        background-image: url("../images/work2.jpg");
        background-size: cover;
        width: 100% ;
        
        height: 300px;
      
      }
      .D {
        background-image: url("../images/work1.jpg");
        background-size: cover;
        width: 100%;
        height: 300px;
        
      }
      .E {
        background-image: url("../images/work5.jpg");
        background-size: cover;
        height: 300px;
        width: 100%
      }
      .F {
        background-image: url("../images/work6.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
      }
      .G {
        background-image: url("../images/work8.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
      }
      .H {
        background-image: url("../images/work7.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
      }
      .text {
        background-color: rgba(247, 248, 249, 0.7);
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        margin-top: 20px;
        opacity: 0;
      }
      .text > p {
        padding-top: 67px;
      }
      
    
        
        
       
        


